node_modules
dist
.venv
.DS_Store
coverage
.vite
*.log

data/*
!data/.gitkeep

apps/server/test-output/*
!apps/server/test-output/.gitkeep

apps/web/playwright-report
apps/web/test-results

.env
.env.local
.env.*.local
